* {
    background-color: #1A1B26;
    border-color: #A9B1D6;
    text-color: #C0CAF5;
    font: "Iosevka Term 15";
    spacing: 3;
    width: 20%;
    height: 20%;
}

#window {
    border: 2;
    padding: 10;
}

#element {
    border: 0;
    padding: 1px;
}

#element.selected.normal {
    text-color: #F7768E;
}

element-text {
    background-color: inherit;
    text-color:       inherit;
}
